@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgb(117,104,255);
  background: linear-gradient(30deg, rgba(117,104,255,1) 0%, rgba(130,19,223,1) 0%, rgba(128,54,236,1) 10%, rgba(117,104,255,1) 28%, rgba(135,104,255,1) 49%, rgba(117,104,255,1) 71%, rgba(121,44,232,1) 90%, rgba(130,19,223,1) 100%);
  color: #fff;
}

input, select{
  background: transparent;
}

input:focus, select:focus{
  outline: none;
}
